@model WebProjekat.Models.Voznja
@{
    ViewBag.Title = "UspesnoVoznja";
}

<h2>Vožnja na lokaciju: @Model.LokacijaNaKojuTaxiDolazi.Adresa.Ulica @Model.LokacijaNaKojuTaxiDolazi.Adresa.Broj, @Model.LokacijaNaKojuTaxiDolazi.Adresa.NaseljenoMesto je uspešno kreirana.</h2>

<html>
<body>
    <form action="/Dispecer/Index">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>