@model WebProjekat.Models.Vozac
@{
    ViewBag.Title = "Uspesno";
}

<h2>Vozač sa korisničkim imenom @Model.KorisnickoIme je uspešno dodat.</h2>

<html>
<body>
    <form action="/Dispecer/Index">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

