
@{
    ViewBag.Title = "VozacPonovo";
}

<h2>Morate uneti sve podatke!</h2>

<html>
<body>
    <form action="/Dispecer/Vozac">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

