
@{
    ViewBag.Title = "Prijava";
}

<html>
<body style="background-color:aliceblue">
    <div style="text-align:center">
        <h2>Registracija korisnika</h2>
        <form action="/Prijava/Registracija">
            <input type="submit" value="Registruj se" />
        </form>
    </div>
    <div style="text-align:center">
        <h2>Prijava korisnika</h2>

        <form method="post" action="/Prijava/Logovanje">
            <table align="center">
                <tr>
                    <td>Korisničko ime:</td>
                    <td><input type="text" name="korisnickoIme" /></td>
                </tr>

                <tr>
                    <td>Lozinka:</td>
                    <td><input type="text" name="lozinka" /></td>
                </tr>
            </table>
            <input type="submit" value="Prijavi se" />
        </form>

        <h1>@ViewBag.Description</h1>
    </div>
</body>
</html>

