
@{
    ViewBag.Title = "KorisnikNePostoji";
}

<h2>Ne postoji korisnik sa tim korisničkim imenom.</h2>
<h2>Morate da se registrujete da biste se prijavili!</h2>

<html>
    <body>
        <form action="/Prijava/Registracija">
            <input type="submit" value="Registruj se" />
        </form>
    </body>
</html>

