
@{
    ViewBag.Title = "Prijava";
}



<html>
<body>
    <h2>Registracija korisnika</h2>
    <form action="/Prijava/Registracija">
        <input type="submit" value="Registruj se" />
    </form>

    <h2>Prijava korisnika</h2>
    <form method="post" action="/Prijava/LogIn">
        <table>
            <tr>
                <td>Korisnicko ime:</td>
                <td>
                    <input type="text" name="korisnickoIme" />
                </td>
            </tr>

            <tr>
                <td>Lozinka:</td>
                <td>
                    <input type="text" name="lozinka" />
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="LogIn" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

