
@{
    ViewBag.Title = "PrijavaNeuspesna";
}

<h2>Prijava je neuspesna. Lozinka nije ispravna!</h2>

<html>
<body>
    <form action="/Prijava/Index">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

