
@{
    ViewBag.Title = "RegistracijaNeuspesna";
}

<h2>Registracija je neuspesna. Korisnik sa tim korisnickim imenom vec postoji!</h2>

<html>
<body>
    <form action="/Prijava/Registracija">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

