
@{
    ViewBag.Title = "RegistracijaPonovo";
}

<h2>Morate uneti sve podatke!</h2>

<html>
<body>
    <form action="/Prijava/Registracija">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

