
@{
    ViewBag.Title = "LokacijaPonovo";
}

<h2>Morate uneti sve podatke!</h2>

<html>
<body>
    <form action="/Vozac/Lokacija">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

