@model WebProjekat.Models.Voznja
@{
    ViewBag.Title = "UspesnoPreuzetaVoznja";
}

<h2>Uspesno ste preuzeli voznju.</h2>

<html>
<body>
    <form action="/Vozac/Index">
        <input type="submit" value="Nazad" />
    </form>
</body>
</html>

