@model WebProjekat.Models.Voznja
@{
    ViewBag.Title = "UspesnaVoznja";
}

<h2>Uspešno promenjen status vožnje.</h2>
<h3>Trenutni status vožnje je @Model.StatusVoznje.</h3>

@{int i = 0;
    foreach (WebProjekat.Models.Voznja v in WebProjekat.Models.Korisnici.ListaSvihVoznji)
    {
        if (v == Model)
        {
            i = WebProjekat.Models.Korisnici.ListaSvihVoznji.IndexOf(v);
        }
    }
}

<html>
<body>
    <form action="/Vozac/UspesnaVoznja">
        <table border="1" style="background-color:cornsilk" align="center">

            <tr>
                <td colspan="2" align="center">Unesite potrebne podatke:</td>
            </tr>

            <tr>
                <td>Ulica odredišta:</td>
                <td><input type="text" name="ulica" /></td>
            </tr>

            <tr>
                <td>Broj:</td>
                <td><input type="text" name="broj" /></td>
            </tr>

            <tr>
                <td>Mesto:</td>
                <td><input type="text" name="mesto" /></td>
            </tr>

            <tr>
                <td>Pozivni broj:</td>
                <td><input type="text" name="pozivniBroj" /></td>
            </tr>

            <tr>
                <td>Iznos:</td>
                <td><input type="text" name="iznos" /></td>
            </tr>

            <tr>
                <td colspan="2" align="center">
                    <input type="hidden" name="index" value="@i" />
                    <input type="submit" value="Sačuvaj" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

